In [2]:
import pandas as pd
import numpy as np
import spacy

import os

# pickle???

In [ ]:
p1 = "/mnt/disks/disk-1-w210-data/data/interim/stackexchange/stackoverflow/posts/PostsAfter2015.pkl"
print(os.path.exists(p1))
t1 = pd.read_pickle(p1)

True

In [ ]:
t1.head(3)

# Tags

In [7]:
p2 = "/mnt/disks/disk-1-w210-data/data/interim/stackexchange/stackoverflow/tags/tags.csv"
print(os.path.exists(p2))
t2 = pd.read_csv(p2)

True

In [8]:
t2.head(3)

   _Id    _TagName   _Count  _ExcerptPostId  _WikiPostId
0    1        .net   286702       3624959.0    3607476.0
1    2        html   844699       3673183.0    3673182.0
2    3  javascript  1862833       3624960.0    3607052.0

In [9]:
t2.count()

_Id               55665
_TagName          55663
_Count            55665
_ExcerptPostId    41059
_WikiPostId       41059
dtype: int64

# Badges

In [6]:
p3 = "/mnt/disks/disk-1-w210-data/data/interim/stackexchange/stackoverflow/badges"
print(os.path.exists(p3))


for root, dirs, files in os.walk(p3):
    for file in files:
        if file.endswith(".csv"):
            f1 = os.path.join(root, file)
            f = open(f1, 'r')
            t3 = pd.read_csv(f)
            print(t3.head(3))
            f.close()

True
   503090  173925         Teacher  2009-10-21T02:27:31.010  3  False
0  503091   69680       Supporter  2009-10-21T02:27:32.243  3  False
1  503092  143725  Autobiographer  2009-10-21T02:27:32.477  3  False
2  503094  193518          Editor  2009-10-21T02:32:32.340  3  False
   143291   6554       Editor  2008-10-07T15:37:31.960  3  False
0  143292  13812      Scholar  2008-10-07T15:37:33.253  3  False
1  143293  13667      Scholar  2008-10-07T15:37:33.253  3  False
2  143294   2131  Nice Answer  2008-10-07T15:37:34.050  3  False
   613474  221955 Autobiographer  2010-01-11T00:57:32.687  3  False
0  613475  206861    Commentator  2010-01-11T00:57:33.857  3  False
1  613476  227123        Teacher  2010-01-11T01:02:30.803  3  False
2  613477   19208        Student  2010-01-11T01:02:33.613  3  False
   384663  139230           Scholar  2009-07-20T02:02:31.693  3  False
0  384664   63156        Tumbleweed  2009-07-20T02:02:33.190  3  False
1  384665    4639  Notable Question  2009-07-20T02:02:39.477  2  False
2  384667  140822         Supporter  2009-07-20T02:07:31.890  3  False
   263406  78359           Teacher  2009-03-19T17:12:31.377  3  False
0  263407  70417            Editor  2009-03-19T17:12:31.703  3  False
1  263408  18017  Popular Question  2009-03-19T17:12:33.187  3  False
2  263409  43277  Popular Question  2009-03-19T17:12:33.187  3  False
   323850    1869  Nice Answer  2009-05-27T11:52:34.060  3  False
0  323851  106762  Commentator  2009-05-27T11:52:34.233  3  False
1  323854   22129       Critic  2009-05-27T11:57:33.223  3  False
2  323856   33857  Good Answer  2009-05-27T11:57:35.487  2  False
   82946  3718  Teacher  2008-09-15T08:55:03.923  3  False
0  82947   994  Teacher  2008-09-15T08:55:03.957  3  False
1  82949  3893  Teacher  2008-09-15T08:55:03.957  3  False
2  82950  4591  Teacher  2008-09-15T08:55:03.957  3  False
   444705  49246           Fanatic  2009-09-04T04:53:00.223  1  False
0  444706  33051           Student  2009-09-04T04:57:31.323  3  False
1  444707    823  Popular Question  2009-09-04T04:57:33.633  3  False
2  444709  69545           Fanatic  2009-09-04T04:57:58.233  1  False
   558183   68183 Civic Duty  2009-12-01T03:42:36.877  2  False
0  558184  218589    Teacher  2009-12-01T03:47:31.437  3  False
1  558185   77298    Student  2009-12-01T03:47:31.687  3  False
2  558186  188280     Editor  2009-12-01T03:47:31.967  3  False
   203430  14439       Nice Answer  2009-01-05T20:17:33.993  3  False
0  203431  49380       Nice Answer  2009-01-05T20:17:34.010  3  False
1  203432  27109  Popular Question  2009-01-05T20:17:34.040  3  False
2  203433  18927  Popular Question  2009-01-05T20:17:34.057  3  False

# Posts Questions Filtered

In [12]:
p1 = "/mnt/disks/disk-1-w210-data/data/interim/stackexchange/stackoverflow/posts-filtered/PostQuestionsFiltered_V3_parsed.tsv"
print(os.path.exists(p1))

with open(p1) as myfile:
    head = [next(myfile) for x in range(5)]
print(head)

posts_filtered = pd.read_csv(p1, sep='\t')
print(posts_filtered.head)

True
['\tUnnamed: 0\tid\ttitle\tbody\taccepted_answer_id\tanswer_count\tcomment_count\tcommunity_owned_date\tcreation_date\tfavorite_count\tlast_activity_date\tlast_edit_date\tlast_editor_display_name\tlast_editor_user_id\towner_display_name\towner_user_id\tparent_id\tpost_type_id\tscore\ttags\tview_count\tparsedtags\tjavascript\tjava\tc#\tphp\tpython\tc++\tnode.js\tobjective-c\tvb.net\tscala\tmatlab\tperl\tdelphi\tmatplotlib\tanimation\td3\tggplot2\tplot\tgraph\tchart\thighcharts\tvbscript\tcolors\tpyspark\tdplyr\tf#\t3d\tsas\tfortran\tmaps\tlisp\tjulia\tpowerbi\tdrawing\tline\tplotly\tbar-chart\tvisualization\ttableau\tseaborn\tgeospatial\tstata\tplyr\tpie-chart\tgraphviz\tspss\tdiagram\tqlikview\taltair\n', '0\t0\t7844124\tDisable map controls in Google Maps embed\t<p>Is it possible to disable map controls by adding some variables to the Google Maps embed code?</p>\t7846901.0\t5\t1\t\t2011-10-21 01:35:21.823000+00:00\t3.0\t2018-08-27 13:41:58.177000+00:00\t2015-07-25 10:28:51.650000+00:00\t\t492335.0\t\t1006313.0\t\t1\t7\tgoogle-mapsgoogle-maps-embed\t23777\tmaps\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t1\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\t0\n', '1\t1\t8018288\tStack Points in ggplot\t"<p>I am making a dotplot using <code>ggplot</code> with the code and data that is below which produces the following the graph.</p>\n', '\n', '\n']
<bound method NDFrame.head of         Unnamed: 0  Unnamed: 0.1        id  \
0                0             0   7844124
1                1             1   8018288
2                2             2   8227828
3                3             3   7976438
4                4             4   8085770
...            ...           ...       ...
692172      692172        692172  18852664
692173      692173        692173  18881681
692174      692174        692174  18827027
692175      692175        692175  19098081
692176      692176        692176  18985813

                                                    title  \
0               Disable map controls in Google Maps embed
1                                  Stack Points in ggplot
2                                    RGB to HSB Algorithm
3       I have a few EMF files. How I can convert them...
4                            Highlight line in flot chart
...                                                   ...
692172               Highcharts Chart.container Issue IE8
692173                d3 and path lines, driving me crazy
692174  Regular Expression for Upto 4 Digits Even Inte...
692175  aChartEngine - add values (array) to XYseries ...
692176              Discrete Bar Chart using nvd3 library

                                                     body  accepted_answer_id  \
0       <p>Is it possible to disable map controls by a...           7846901.0
1       <p>I am making a dotplot using <code>ggplot</c...           8018341.0
2       <blockquote>\r\r\n  <p><strong>Possible Duplic...           8227891.0
3       <p>I have few EMF (Enhanced Windows Metafile) ...          16261194.0
4       <p>Is it possible to highlight a line chart wi...          11623415.0
...                                                   ...                 ...
692172  <p>I have a chart created through highchart on...          18890358.0
692173  <p>I've been tracing my code and comparing not...                 NaN
692174  <p>In an MVC project I need to validate number...          18827042.0
692175  <p>To draw a linechart with aChartEngine we ha...                 NaN
692176  <p>I am implementing discrete bar chart using ...                 NaN

        answer_count  comment_count community_owned_date  \
0                  5              1                  NaN
1                  1              0                  NaN
2                  2              1                  NaN
3                  2              0                  NaN
4                  3              2                  NaN
...              ...            ...                  ...
692172             1              2                  NaN
692173             1              2                  NaN
692174             1              2                  NaN
692175             0              2                  NaN
692176             1              2                  NaN

                           creation_date  ...  seaborn geospatial stata plyr  \
0       2011-10-21 01:35:21.823000+00:00  ...        0          0     0    0
1       2011-11-05 05:01:34.233000+00:00  ...        0          0     0    0
2       2011-11-22 13:45:51.707000+00:00  ...        0          0     0    0
3       2011-11-02 06:08:48.397000+00:00  ...        0          0     0    0
4       2011-11-10 20:22:48.423000+00:00  ...        0          0     0    0
...                                  ...  ...      ...        ...   ...  ...
692172  2013-09-17 14:29:31.097000+00:00  ...        0          0     0    0
692173  2013-09-18 20:22:58.440000+00:00  ...        0          0     0    0
692174  2013-09-16 11:38:30.677000+00:00  ...        0          0     0    0
692175  2013-09-30 15:27:55.753000+00:00  ...        0          0     0    0
692176  2013-09-24 15:28:13.187000+00:00  ...        0          0     0    0

        pie-chart graphviz  spss  diagram  qlikview  altair
0               0        0     0        0         0       0
1               0        0     0        0         0       0
2               0        0     0        0         0       0
3               0        0     0        0         0       0
4               0        0     0        0         0       0
...           ...      ...   ...      ...       ...     ...
692172          0        0     0        0         0       0
692173          0        0     0        0         0       0
692174          0        0     0        0         0       0
692175          0        0     0        0         0       0
692176          0        0     0        0         0       0

[692177 rows x 72 columns]>

In [51]:
list(posts_filtered)

['Unnamed: 0',
 'Unnamed: 0.1',
 'id',
 'title',
 'body',
 'accepted_answer_id',
 'answer_count',
 'comment_count',
 'community_owned_date',
 'creation_date',
 'favorite_count',
 'last_activity_date',
 'last_edit_date',
 'last_editor_display_name',
 'last_editor_user_id',
 'owner_display_name',
 'owner_user_id',
 'parent_id',
 'post_type_id',
 'score',
 'tags',
 'view_count',
 'parsedtags',
 'javascript',
 'java',
 'c#',
 'php',
 'python',
 'c++',
 'node.js',
 'objective-c',
 'vb.net',
 'scala',
 'matlab',
 'perl',
 'delphi',
 'matplotlib',
 'animation',
 'd3',
 'ggplot2',
 'plot',
 'graph',
 'chart',
 'highcharts',
 'vbscript',
 'colors',
 'pyspark',
 'dplyr',
 'f#',
 '3d',
 'sas',
 'fortran',
 'maps',
 'lisp',
 'julia',
 'powerbi',
 'drawing',
 'line',
 'plotly',
 'bar-chart',
 'visualization',
 'tableau',
 'seaborn',
 'geospatial',
 'stata',
 'plyr',
 'pie-chart',
 'graphviz',
 'spss',
 'diagram',
 'qlikview',
 'altair']

In [62]:
# assuming the basic table go up to column 22
posts_filtered.iloc[:,:22].describe().loc[["count", "min", "max"]]

,Unnamed: 0,Unnamed: 0.1,id,accepted_answer_id,answer_count,comment_count,favorite_count,last_editor_user_id,owner_user_id,parent_id,post_type_id,score,view_count
count,692177.0,692177.0,692177.0,353530.0,692177.0,692177.0,170080.0,371649.0,683235.0,0.0,692177.0,692177.0,692177.0
min,0.0,0.0,180.0,539.0,0.0,0.0,0.0,-1.0,9.0,NaN,1.0,-30.0,2.0
max,692176.0,692176.0,56412215.0,56411808.0,105.0,89.0,1711.0,11588703.0,11588703.0,NaN,1.0,7018.0,3205298.0

In [64]:
# assuming the tags start column 23
# ... there are about 49 tags so far
posts_filtered.iloc[:,23:].describe().loc[["min", "max"]]

,javascript,java,c#,php,python,c++,node.js,objective-c,vb.net,scala,...,seaborn,geospatial,stata,plyr,pie-chart,graphviz,spss,diagram,qlikview,altair
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [65]:
posts_filtered.iloc[:,22:].head(10)

,parsedtags,javascript,java,c#,php,python,c++,node.js,objective-c,vb.net,...,seaborn,geospatial,stata,plyr,pie-chart,graphviz,spss,diagram,qlikview,altair
0,maps,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ggplot2 | plot,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,colors,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,graph,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,javascript | java | chart,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,ggplot2 | plot,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,c# | graph,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,php | graph,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,line,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,python | line,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
# each of the parsedtags has a dummy variable
t1 = posts_filtered.iloc[0:1,22:]

t1.loc[:,["parsedtags", "javascript", "maps", "diagram"]]

  parsedtags  javascript  maps  diagram
0       maps           0     1        0

In [80]:
t1 = posts_filtered.iloc[4:5,22:]

t1.loc[:,["parsedtags", "javascript", "maps", "java", "chart", "diagram"]]

                  parsedtags  javascript  maps  java  chart  diagram
4  javascript | java | chart           1     0     1      1        0

In [23]:
t1 = posts_filtered.sample(n = 3)

t1

,Unnamed: 0,Unnamed: 0.1,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,...,seaborn,geospatial,stata,plyr,pie-chart,graphviz,spss,diagram,qlikview,altair
221459,221459,221459,33439850,Google Maps Authencification Error ( Android S...,<p>I started developing an application with Go...,NaN,1,1,NaN,2015-10-30 15:46:18.680000+00:00,...,0,0,0,0,0,0,0,0,0,0
661366,661366,661366,19646516,Drawing a route on static google maps,<p>Hi guys im currently working with the Googl...,19646593.0,1,0,NaN,2013-10-28 22:50:30.643000+00:00,...,0,0,0,0,0,0,0,0,0,0
89098,89098,89098,27994344,New Facebook action can't be published with Te...,<p>I've created a Facebook action that I'm try...,NaN,1,1,NaN,2015-01-16 23:19:58.963000+00:00,...,0,0,0,0,0,0,0,0,0,0

In [30]:
t1.loc[221459, "body"]

'<p>I started developing an application with Google Maps and I struggled to execute code after add. The first run I run perfectly from Genymotion emulator, but testing on mobile skips the following error, and the mobile device does not display the map.\r\r\nThe key is added properly and the API also.</p>\r\r\n\r\r\n<p>Any suggestions?</p>\r\r\n\r\r\n<p><img src="https://i.stack.imgur.com/wZ1Py.png" alt="Error Android Studio here"></p>\r\r\n\r\r\n<p><img src="https://i.stack.imgur.com/kFD0W.png" alt="Apis habilitadas"></p>\r\r\n\r\r\n<p>I hope you can answer.</p>'

In [34]:
t1.iloc[1, 4]

'<p>Hi guys im currently working with the Google map Direction API, its pretty neat but i have a problem on this <a href="http://remedia-solutions.com/clientes/0078_Vistadesarrollos/pruebamapa.php" rel="nofollow">site</a></p>\r\r\n\r\r\n<p>If you type any place on the input and then click on the button it will draw you the route, and if you click "Link al mapa" it will take you to a static map of that route,but it just draw a big line between both points instead of the route. </p>\r\r\n\r\r\n<p>Any idea of how to do this?</p>'

In [38]:
# https://stackoverflow.com/questions/39241709/how-to-generate-bi-tri-grams-using-spacy-nltk
# https://spacy.io/usage/spacy-101

nlp = spacy.load("en_core_web_sm")
html = t1.iloc[1, 4]
doc = nlp(html)
for token in doc:
    print(token.text)

<
p
>
Hi
guys
i
m
currently
working
with
the
Google
map
Direction
API
,
its
pretty
neat
but
i
have
a
problem
on
this
<
a
href="http://remedia
-
solutions.com
/
clientes/0078_Vistadesarrollos
/
pruebamapa.php
"
rel="nofollow">site</a></p
>



<
p
>
If
you
type
any
place
on
the
input
and
then
click
on
the
button
it
will
draw
you
the
route
,
and
if
you
click
"
Link
al
mapa
"
it
will
take
you
to
a
static
map
of
that
route
,
but
it
just
draw
a
big
line
between
both
points
instead
of
the
route
.
<
/p
>



<
p
>
Any
idea
of
how
to
do
this?</p
>

In [40]:
# https://www.nltk.org/book/ch03.html

# use beautiful soup to extract the text only

from bs4 import BeautifulSoup

nlp = spacy.load("en_core_web_sm")
html = t1.iloc[1, 4]
txt = BeautifulSoup(html, 'html.parser').get_text()
doc = nlp(txt)
for token in doc:
    print(token.text)

Hi
guys
i
m
currently
working
with
the
Google
map
Direction
API
,
its
pretty
neat
but
i
have
a
problem
on
this
site


If
you
type
any
place
on
the
input
and
then
click
on
the
button
it
will
draw
you
the
route
,
and
if
you
click
"
Link
al
mapa
"
it
will
take
you
to
a
static
map
of
that
route
,
but
it
just
draw
a
big
line
between
both
points
instead
of
the
route
.


Any
idea
of
how
to
do
this
?

In [47]:
# https://medium.com/glose-team/%EF%B8%8F-fast-bag-of-words-using-spacy-and-cython-574c308a9ff3

# naive way

import collections
from typing import Dict, List, Tuple


def text2bow(words: List[str], dictionary: Dict[str, int]) -> List[Tuple[int, int]]:
    word_frequences = collections.defaultdict(int)
    for word in words:
        if word not in dictionary:
            dictionary[word] = len(dictionary)
        word_frequences[dictionary[word]] += 1
    return list(word_frequences.items())


html = t1.iloc[1, 4]
sample_text = BeautifulSoup(html, 'html.parser').get_text().lower()
dictionary = {}
print('BOW representation:', text2bow(sample_text.split(), dictionary))
print('Dictionary:', dictionary)

BOW representation: [(0, 1), (1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 5), (7, 1), (8, 2), (9, 1), (10, 1), (11, 1), (12, 1), (13, 1), (14, 1), (15, 1), (16, 1), (17, 3), (18, 1), (19, 3), (20, 1), (21, 1), (22, 2), (23, 4), (24, 1), (25, 2), (26, 1), (27, 1), (28, 2), (29, 1), (30, 2), (31, 1), (32, 3), (33, 2), (34, 2), (35, 1), (36, 1), (37, 1), (38, 1), (39, 1), (40, 2), (41, 1), (42, 3), (43, 1), (44, 1), (45, 1), (46, 1), (47, 1), (48, 1), (49, 1), (50, 1), (51, 1), (52, 1), (53, 1), (54, 1), (55, 1), (56, 1)]
Dictionary: {'hi': 0, 'guys': 1, 'im': 2, 'currently': 3, 'working': 4, 'with': 5, 'the': 6, 'google': 7, 'map': 8, 'direction': 9, 'api,': 10, 'its': 11, 'pretty': 12, 'neat': 13, 'but': 14, 'i': 15, 'have': 16, 'a': 17, 'problem': 18, 'on': 19, 'this': 20, 'site': 21, 'if': 22, 'you': 23, 'type': 24, 'any': 25, 'place': 26, 'input': 27, 'and': 28, 'then': 29, 'click': 30, 'button': 31, 'it': 32, 'will': 33, 'draw': 34, 'route,': 35, '"link': 36, 'al': 37, 'mapa"': 38, 'take': 39, 'to': 40, 'static': 41, 'of': 42, 'that': 43, 'route,but': 44, 'just': 45, 'big': 46, 'line': 47, 'between': 48, 'both': 49, 'points': 50, 'instead': 51, 'route.': 52, 'idea': 53, 'how': 54, 'do': 55, 'this?': 56}

In [82]:
bodies = posts_filtered["body"]

bodies

0         <p>Is it possible to disable map controls by a...
1         <p>I am making a dotplot using <code>ggplot</c...
2         <blockquote>\r\r\n  <p><strong>Possible Duplic...
3         <p>I have few EMF (Enhanced Windows Metafile) ...
4         <p>Is it possible to highlight a line chart wi...
                                ...
692172    <p>I have a chart created through highchart on...
692173    <p>I've been tracing my code and comparing not...
692174    <p>In an MVC project I need to validate number...
692175    <p>To draw a linechart with aChartEngine we ha...
692176    <p>I am implementing discrete bar chart using ...
Name: body, Length: 692177, dtype: object

In [85]:
titles = posts_filtered["title"]

titles

0                 Disable map controls in Google Maps embed
1                                    Stack Points in ggplot
2                                      RGB to HSB Algorithm
3         I have a few EMF files. How I can convert them...
4                              Highlight line in flot chart
                                ...
692172                 Highcharts Chart.container Issue IE8
692173                  d3 and path lines, driving me crazy
692174    Regular Expression for Upto 4 Digits Even Inte...
692175    aChartEngine - add values (array) to XYseries ...
692176                Discrete Bar Chart using nvd3 library
Name: title, Length: 692177, dtype: object

In [87]:
t1 = titles[0:2] + bodies[0:2]

t1

0    Disable map controls in Google Maps embed<p>Is...
1    Stack Points in ggplot<p>I am making a dotplot...
dtype: object

In [93]:
# tokenize

from bs4 import BeautifulSoup

def word_tokenize(text):
    nlp = spacy.load("en_core_web_sm")
    txt = BeautifulSoup(text, 'html.parser').get_text()
    doc = nlp(txt)
    for token in doc:
        print(token)

tokens = []
for bdy in bodies[0:3]:
    t1 = bdy.lower()
    t2 = word_tokenize(t1)
    print(t2)
#     for w in t1:
#         w.lower
#         tokens.append()

is
it
possible
to
disable
map
controls
by
adding
some
variables
to
the
google
maps
embed
code
?
None
i
am
making
a
dotplot
using
ggplot
with
the
code
and
data
that
is
below
which
produces
the
following
the
graph
.


ggplot(data
=
holder
,
aes(x
=
coef
,
y
=
coefshort
,
colour
=
factor(name
)
)
)
+
geom_point
(
)
+
labs(x="value
"
,
y="coefficient
"
)
+
scale_colour_discrete("model
"
)




their
is
a
significant
amount
of
overplotting
and
i
would
like
to
create
some
vertical
seperation
between
dots
.

but
it
has
to
be
systematic
,
i.e.
the
order
is
always
red
-
green
-
blue
.


geom_stack
only
seems
to
work
when
the
x
value
is
the
same
,
not
when
the
y
value
is
the
same
.

i
tried
using
the
opposite
axes
(
swapping
the
x
and
y
)
,
doing
a
position_dodge
(
)
then
doing
a
coord_flip
(
)
.

this
only
works
with
bars
,
as
seen
below
.


ggplot(data
=
holder
,
aes(y
=
coef
,
x
=
coefshort
,
fill
=
factor(name
)
)
)
+
geom_bar(position="dodge
"
,
aes(ymax
=
coef
)
)
+
labs(y="value
"
,
x="coefficient
"
)
+
scale_fill_discrete("model
"
)
+
coord_flip
(
)




any
ideas
how
to
achieve
that
stacking
with
geom_point
(
)
?

thanks
.


the
data
:


structure(list(coef
=
c(-3875.46969970703
,
7871.08213392282
,


1120.33185255098
,
1510.13540851347
,
1439.07714113149
,
1800.92398445336
,


-3760.05411752962
,
8183.74295221482
,
1126.98290537184
,
1517.99524139857
,


1442.73063836897
,
1808.03721179571
,
-90.6507661872817
,
-71.7225864185226
,


-103.615416254984
,
-732.167583256825
,
-1075.67574987664
,
-1908.56266462926
,


-7362.80215630299
,
8886.12888250011
,
655.767448263926
,
848.716877683527
,


869.395903077767
,
998.254438325812
,
-211.682481369473
,
-303.310032581644
,


-506.1995360406
,
-978.697664841985
,
-1440.30190190734
,
-2325.22236024601
,


2625.94998656519
,
3573.68798735398
,
4217.82910198788
,
4534.8789695778
,


4967.19941000705
,
5072.02764498623
,
5419.64684461491
)
,
name
=
c(1
,


1
,
1
,
1
,
1
,
1
,
2
,
2
,
2
,
2
,
2
,
2
,
2
,
2
,
2
,
2
,
2
,
2
,
3
,
3
,
3
,
3
,


3
,
3
,
3
,
3
,
3
,
3
,
3
,
3
,
3
,
3
,
3
,
3
,
3
,
3
,
3
)
,
coefshort
=
structure(c(1l
,


2l
,
3l
,
4l
,
5l
,
6l
,
1l
,
2l
,
3l
,
4l
,
5l
,
6l
,
7l
,
8l
,
9l
,
10l
,


11l
,
12l
,
1l
,
2l
,
3l
,
4l
,
5l
,
6l
,
7l
,
8l
,
9l
,
10l
,
11l
,
12l
,


13l
,
14l
,
15l
,
16l
,
17l
,
18l
,
19l
)
,
.label
=
c("(intercept
)
"
,


"
carat
"
,
"
good
"
,
"
very
good
"
,
"
premium
"
,
"
ideal
"
,
"
e
"
,
"
f
"
,
"
g
"
,


"
h
"
,
"
i
"
,
"
j
"
,
"
si2
"
,
"
si1
"
,
"
vs2
"
,
"
vs1
"
,
"
vvs2
"
,
"
vvs1
"
,
"
if
"


)
,
class
=
"
factor
"
)
)
,
.names
=
c("coef
"
,
"
name
"
,
"
coefshort
"


)
,
class
=
"
data.frame
"
,
row.names
=
c(na
,
-37l
)
)
None


possible
duplicate
:


algorithm
to
convert
rgb
to
hsv
and
hsv
to
rgb
?



i
'm
trying
to
find
an
algorithm
(
prefferabley
represented
in
c++
)
that
converts
from
rgbto
hsb
values
so
that
i
can
process
it
accordingly
.
anyone
got
any
suggestions
?
None